<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geekomatique">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AddingPrestation"></activity>
        <activity android:name=".Activities.EditUserAdmin" />
        <activity android:name=".Activities.AddingUser" />
        <activity android:name=".Activities.AdminUser" />
        <activity android:name=".Activities.Prestations" />
        <activity android:name=".Activities.Disponibilities" />
        <activity android:name=".Activities.CancelAppointment" />
        <activity android:name=".Activities.ModifyAppointment" />
        <activity android:name=".Activities.CalendarAppointments" />
        <activity android:name=".Activities.Appointment" />
        <activity android:name=".Fragment.ListAppointments" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>